.nav-bar{   
    
    .nav-link{
        display: flex;        
        list-style-type: none;
        border-bottom: 2px solid white;
        border-radius: 0.5rem;
        margin: 0.25rem;
        & > li{
            padding: 0.3rem 0.75rem; 
            margin: 0.25rem;           
            font-weight: bold;            
            font-size: 24px;        
            
            & > a{
                color: white !important;
        }

        }                
    }
}