$ilgladiatore-color: #E38627;
$unasettimanadadio-color:#C13C37;
$vanhelsing-color:#6A2135;

@mixin div-legend{
    margin: 0 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
}
@mixin color-legend($color){
    background-color: $color;
}

.footer{
    ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
        li{
            padding: 0.5rem;
            color: white;
            font-size: 1.25rem;
            display: flex;
            align-items: center;
            .yellow{
                @include color-legend($ilgladiatore-color)
            }
            .orange{
                @include color-legend($unasettimanadadio-color)
            }
            .brown{
                @include color-legend($vanhelsing-color)
            }
            div{
                @include div-legend
            }
        }
    }
}